<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
</head>

<body>
    <!--INICIO DEL HEADER-->
    <header>
        <%- include("partials/header") %>
    </header>
    <!--FIN DEL HEADER-->
    <!--INICIO MAIN-->
    
    <main class="main-contenedor-detalle-producto">
        <div class="imagenes-vista">
            <div class="col-12">
                <div class="item">
                    <div>
                    <img src="/img/<%= producto.img %>" alt="<%= producto.name %> ">
                    </div>
                    <!-- <ul id="content-slider" class="content-slider"></ul> -->
                </div>
                <div class="cantidad-fotos">Imagen ilustrativa</div>
            </div>
        </div>
        <div class="caja">
            <div class="detalle-producto">
                <div class="titulo-descripcion">
                    <h1><%= producto.name %></h1>
                </div>
                <div class="precio">
                    <p><%= producto.price %></p>
                </div>
            </div>
        </div>
        <div class="caja">
            <h3>ESPECIFICACIONES</h3>
            <ul class="descripcion">
                <li data-spec="Marca">
                    <strong>Numero ID</strong>
                    <span><%= producto.id %> </span>
                </li>
                <li data-spec="Modelo">
                    <strong>Producto</strong>
                    <span><%= producto.name %></span>
                </li>
                <li data-spec="Color principal">
                    <strong>Color principal</strong>
                    <span><%= producto.color %></span>
                </li>
                <li data-spec="Gb">
                    <strong>Gb</strong>
                    <span>128 gb</span>
                </li>
                <li data-spec="Bluetooth">
                    <strong>Accesibilidad</strong>
                    <span><%= producto.accesibilidad %></span>
                </li>
                <li data-spec="Camara">
                    <strong>Camara</strong>
                    <span><%= producto.camara %></span>
                </li>
                <li data-spec="Camara delantera">
                    <strong>Camara delantera</strong>
                    <span><%= producto.camara_delantera %></span>
                </li>
                <li data-spec="Sonido">
                    <strong>Sonido</strong>
                    <span><%= producto.sonido %></span>
                </li>
                <li data-spec="Sim">
                    <strong>Sim</strong>
                    <span><%= producto.sim %></span>
                </li>
                <li data-spec="Memoria Externa">
                    <strong>Memoria externa</strong>
                    <span><%= producto.memoriaExterna %></span>
                </li>
            </ul>
        </div>
        <div class="caja">
            <h3>GARANTIA</h3>
            <p>Todos los productos de nuestro sitio cuentan con la garantía de su fabricante</p>
        </div>
        <div class="caja">
            <h3>FORMA DE PAGO</h3>
            <p>Puede pagar online de forma segura y en cuotas a través de MercadoPago con tarjetas de créditos de todos
                los bancos.
                También puede reservar su pedido y abonarlo por depósito o transferencia bancaria o bien, en nuestro
                local al retirarlo.
                Agregue el producto al carrito y continue con el proceso de pago online.</p>
        </div>
        <div class="caja">
            <h3>MEDIOS DE ENVIO</h3>
            <p>Hacemos envíos a todo el país. Consulte nuestros costos y formas de envío.
                También puede retirar en nuestro local, previa coordinación por teléfono o email.</p>
        </div>
        <div class="carrito-detalle-producto">
            <button type="button">Añadir al carrito</button>
        </div>
        <div>
            <a href="/productEdit/<%= producto.id %> ">
                <button type="button">Editar</button>
            </a>
        </div>
        <div>
            <form action="/delete/<%= producto.id %>?_method=DELETE" method="POST">
                <button type="submit">
                    Borrar
                </button>
            </form>
        </div>



    </main>
    <!--FIN MAIN-->
    <!--INICIO FOOTER-->
    <footer>
        <%- include("partials/footer") %>
    </footer>
    <!--FIN DE FOOTER-->
    

</html>